---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

Some tutorials: [regex tutorial 1](https://www.ntu.edu.sg/home/ehchua/programming/howto/Regexe.html); [regex tutorial 2](https://www.w3schools.com/python/python_regex.asp)

In [1]:
import pandas as pd
import numpy as np
doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
# df.head(10)
# type1_1 = df.str.extractall(r'(\d{1,2})[/-](\d{1,2})[/-](\d{2})\b')
# type1_2 = df.str.extractall(r'(\d{1,2})[/-](\d{1,2})[/-](\d{4})\b')
# type1 = pd.concat([type1_1, type1_2])
# type1.reset_index(inplace=True)
# type1_index = type1['level_0']

# type1.head(150)
# type2 = df.str.extractall(r'((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[-.]* )((?:\d{1,2}[...]*[?:, -]*))(\d{4})')
# type2.reset_index(inplace=True)
# type2[1] = type2[1].apply(lambda x: x.replace(',', ''))
# type2[0] = type2[0].apply(lambda x: x.replace('.', ''))
# type2.columns=['level_0', 'match', 'month', 'day', 'year']
# type2['month'] = type2['month'].replace(' ', '')
# type2_index = type2['level_0']
# #type2['day'] = type2[1].apply(lambda x: x.split(' ')[0])
# #type2['year'] = type2[1].apply(lambda x: x.split(' ')[1])
# type3 = df.str.extractall(r'((?:d{1,2} ))?((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[?:, -]* )(\d{4})')
# type3.reset_index(inplace=True)
# type3[1] = type3[1].apply(lambda x: x.replace(',', ''))
# type3.columns = ['level_0', 'match', 'day', 'month', 'year']
# type3['day'] = type3['day'].replace(np.nan, 1)
# type3['day'] = type3['day'].replace('d ', 1)
# type3['month'] = type3['month'].replace('Janaury ', 'January')
# type3['month'] = type3['month'].replace('Decemeber ', 'December')
# type3['month'] = type3['month'].str.strip()
# type3_index = type3['level_0']
# type6 = df.str.extractall(r'(\d{1,2})[/](\d{4})')
# type6.reset_index(inplace=True)
# type6.columns = ['level_0', 'match', 'month', 'year']
# type6_index = type6['level_0']
# type6_filter = []
# for i in type6_index:
#     if not(i in type1_index.values):
#         type6_filter.append(i)
# type6_filter = np.asarray(type6_filter)
# type6 = type6[type6['level_0'].isin(type6_filter)]
# type6['day'] = 1

# type7_1 = df.str.extractall(r'^(\d{4})[^0-9]')
# type7_2 = df.str.extractall(r'[a-z]?[^0-9](\d{4})[^0-9]')
# type7 = pd.concat([type7_1, type7_2])
# type7.reset_index(inplace=True)
# type7.columns = ['level_0', 'match', 'year']
# type7_index = type7['level_0']
# type7['day'] = 1
# type7['month'] = 1
# type1.columns=['level_0', 'match', 'month', 'day', 'year']
# type1['year']=type1['year'].apply(str)

# type1['year']=type1['year'].apply(lambda x: '19'+x if len(x)<=2 else x)

# type7_filter = []
# for i in type7_index:
#     if not((i in type2_index.values) | (i in type3_index.values) | (i in type6_index.values)):
#         type7_filter.append(i)
# type7_filter = np.asarray(type7_filter)
# type7 = type7[type7['level_0'].isin(type7_filter)]
# result = pd.concat([type1, type2, type3, type6, type7], sort=False)
# result['date'] = pd.to_datetime(result['month'].apply(str)+'/'+result['day'].apply(str)+'/'+result['year'].apply(str))
# result = result.sort_values(by='date').set_index('level_0')
# answer = pd.Series(list(result.index))
# print(answer)

In [2]:
def date_sorter():
    """
    Format dates into one standard xx/xx/xxxx
    Type 1: 04/20/2009; 04/20/09; 4/20/09; 4/3/09
    Type 2: Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;
    Type 3: 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
    Type 4: Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
    Type 5: Feb 2009; Sep 2009; Oct 2010
    Type 6: 6/2008; 12/2009
    Type 7: 2009; 2010
    """
    # Your code here
    # Type 1
    type1_1 = df.str.extractall(r'(\d{1,2})[/-](\d{1,2})[/-](\d{2})\b')
    type1_2 = df.str.extractall(r'(\d{1,2})[/-](\d{1,2})[/-](\d{4})\b')
    type1 = pd.concat([type1_1, type1_2])
    type1.reset_index(inplace=True)
    type1_index = type1['level_0']
    type1.columns=['level_0', 'match', 'month', 'day', 'year']
    type1['year']=type1['year'].apply(str)
    type1['year']=type1['year'].apply(lambda x: '19'+x if len(x)<=2 else x)
    
    # Type 2, Type 4
    type2 = df.str.extractall(r'((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[-.]* )((?:\d{1,2}[...]*[?:, -]*))(\d{4})')
    type2.reset_index(inplace=True)
    type2[1] = type2[1].apply(lambda x: x.replace(',', ''))
    type2[0] = type2[0].apply(lambda x: x.replace('.', ''))
    type2.columns=['level_0', 'match', 'month', 'day', 'year']
    type2['month'] = type2['month'].replace(' ', '')
    type2_index = type2['level_0']

    # Type 3, 5
    type3 = df.str.extractall(r'((?:d{1,2} ))?((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[?:, -]* )(\d{4})')
    type3.reset_index(inplace=True)
    type3[1] = type3[1].apply(lambda x: x.replace(',', ''))
    type3.columns = ['level_0', 'match', 'day', 'month', 'year']
    type3['day'] = type3['day'].replace(np.nan, 1)
    type3['day'] = type3['day'].replace('d ', 1)
    type3_index = type3['level_0']
    type3['month'] = type3['month'].replace('Janaury ', 'January') # typo
    type3['month'] = type3['month'].replace('Decemeber ', 'December') # typo
    type3['month'] = type3['month'].str.strip() # remove space on both end
    
    # Type 6
    type6 = df.str.extractall(r'(\d{1,2})[/](\d{4})')
    type6.reset_index(inplace=True)
    type6.columns = ['level_0', 'match', 'month', 'year']
    type6_index = type6['level_0']
    ## Remove Type 6 (e.g. 25/1984) if in Type 1
    type6_filter = []
    for i in type6_index:
        if not(i in type1_index.values):
            type6_filter.append(i)
    type6_filter = np.asarray(type6_filter)
    type6 = type6[type6['level_0'].isin(type6_filter)]
    type6['day'] = 1
    
    # Type 7
    type7_1 = df.str.extractall(r'^(\d{4})[^0-9]')
    type7_2 = df.str.extractall(r'[a-z]?[^0-9](\d{4})[^0-9]')
    type7 = pd.concat([type7_1, type7_2])
    type7.reset_index(inplace=True)
    type7.columns = ['level_0', 'match', 'year']
    type7_index = type7['level_0']
    type7['day'] = 1
    type7['month'] = 1
    ## Remove Type 7 if in Type 2, 3, 4, 5, 6
    type7_filter = []
    for i in type7_index:
        if not((i in type2_index.values) | (i in type3_index.values) | (i in type6_index.values)):
            type7_filter.append(i)
    type7_filter = np.asarray(type7_filter)
    type7 = type7[type7['level_0'].isin(type7_filter)]
    
    # final result and answer
    result = pd.concat([type1, type2, type3, type6, type7], sort = False)
    result['date'] = pd.to_datetime(result['month'].apply(str)+'/'+result['day'].apply(str)+'/'+result['year'].apply(str))
    result = result.sort_values(by='date').set_index('level_0')
    answer = pd.Series(list(result.index))
    
    return answer # Your answer here

In [3]:
date_sorter()

0        9
1       84
2        2
3       53
4       28
5      474
6      153
7       13
8      129
9       98
10     111
11     225
12      31
13     171
14     191
15     486
16     415
17     335
18      36
19     405
20     323
21     422
22     375
23     380
24     345
25      57
26     481
27     436
28     104
29     299
      ...
470    220
471    243
472    208
473    139
474    320
475    383
476    286
477    480
478    244
479    431
480    279
481    198
482    381
483    463
484    366
485    255
486    439
487    401
488    475
489    152
490    257
491    235
492    464
493    253
494    141
495    427
496    231
497    186
498    161
499    413
Length: 500, dtype: int64